// .App {
//   background-color: aquamarine;
// }

// // Google Font Import - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  transition: margin-left .5s;
  // otros estilos de tu aplicación...
}

.navbar-open {
  margin-left: 27.8vh; // 301px / 1080px * 100
}

.navbar-closed {
  margin-left: 8.2vh; // 89px / 1080px * 100
}

//* Llevar a otro sitio

.RecipeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.85vh; // 20px / 1080px * 100
  margin-top: 1.85vh; // 20px / 1080px * 100
}

.EjerciciosCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.85vh; // 20px / 1080px * 100
  margin-top: 1.85vh; // 20px / 1080px * 100
}